<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages buffer="true" masterPageFile="~/MasterPage.master" enableEventValidation="false"/>
  </system.web>
  <connectionStrings>
    <add name="gnrConnectionSring" connectionString="server=182.50.133.109;database=GNREXIM;uid=vinay;password=vinay123;"/>
  </connectionStrings>
</configuration>